
<h1>Links Index</h1>
<%= render 'new' %>
<div class="links-box">
<% @links.each do |l| %>
<div class="link-card" id="link-<%= l.id %>">
<h4><%= l.title %></h4>
<%= l.url %><br><%= l.status %>
<button class="status-button" id="stat-<%= l.id %>">Change Status</button>
</div>
<% end %>
</div>
<%= link_to 'Log Out', logout_path %>