<!DOCTYPE html>
<html>
<head>
  <title>MockAssessment</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="flash">
  <%= flash[:success] unless flash[:success].blank? %>
  <%= flash[:error] unless flash[:error].blank? %>
</div>

<%= yield %>
<script>function filter(element) {var value = $(element).val();$('.links-box > div:not(:contains(' + value + '))').hide(); $('.links-box > div:contains(' + value + ')').show(); }</script>
</body>
</html>
